
:root {
    --color-colors-blue-purple-primary-50: #e0e1ef; 
    --color-colors-blue-purple-primary-100: #c2c4e0; 
    --color-colors-blue-purple-primary-200: #a3a6d0; 
    --color-colors-blue-purple-primary-300: #697ac8; 
    --color-colors-blue-purple-primary-400: #5661ba; 
    --color-colors-blue-purple-primary-500: #484ea2; 
    --color-colors-blue-purple-primary-600: #42458b; 
    --color-colors-blue-purple-primary-700: #3d428c; 
    --color-colors-blue-purple-primary-800: #343875; 
    --color-colors-blue-purple-primary-900: #262745; 
    --color-colors-fuchsia-secondary-50: #ffecf8; 
    --color-colors-fuchsia-secondary-100: #f9d6ec; 
    --color-colors-fuchsia-secondary-200: #ffa2e7; 
    --color-colors-fuchsia-secondary-300: #fe68d3; 
    --color-colors-fuchsia-secondary-400: #f93bbe; 
    --color-colors-fuchsia-secondary-500: #df0c8d; 
    --color-colors-fuchsia-secondary-600: #c60d7e; 
    --color-colors-sky-blue-tertiary-50: #ccedfa; 
    --color-colors-green-300: #21d05d; 
    --color-colors-green-200: #e9ffe5; 
    --color-colors-sky-blue-tertiary-100: #dff3ff; 
    --color-colors-sky-blue-tertiary-200: #b7e9ff; 
    --color-colors-sky-blue-tertiary-300: #77d8ff; 
    --color-colors-sky-blue-tertiary-400: #2ec6ff; 
    --color-colors-sky-blue-tertiary-500: #03a8ea; 
    --color-colors-fuchsia-secondary-700: #a50c69; 
    --color-colors-orange-300: #fd9726; 
    --color-colors-fuchsia-secondary-800: #8b1059; 
    --color-colors-red-300: #dc362e; 
    --color-colors-blue-300: #1677ff; 
    --color-colors-black-white-white: #ffffff; 
    --color-colors-grey-grey-100: #f9f9fa; 
    --color-colors-grey-grey-200: #f2f5f7; 
    --color-colors-grey-grey-300: #d2d7da; 
    --color-colors-grey-grey-400: #d1d1d6; 
    --color-colors-grey-grey-500: #a3a3a3; 
    --color-colors-grey-grey-600: #5a5c5e; 
    --color-colors-grey-grey-700: #545454; 
    --color-colors-grey-grey-800: #363636; 
    --color-colors-grey-grey-900: #232323; 
    --color-colors-blue-200: #e5f4ff; 
    --color-colors-red-200: #ffe9ea; 
    --color-colors-orange-200: #fedfbc; 
    --color-colors-sky-blue-tertiary-600: #008cd1; 
    --color-colors-sky-blue-tertiary-700: #006fa9; 
    --color-colors-sky-blue-tertiary-800: #015e8b; 
    --color-colors-sky-blue-tertiary-900: #074e73; 
    --color-colors-fuchsia-secondary-900: #560134; 
    --color-colors-green-100: #f0fdf4; 
    --color-colors-orange-100: #fff9ed; 
    --color-colors-green-400: #13823a; 
    --color-colors-red-100: #fef2f2; 
    --color-colors-red-400: #b8241d; 
    --color-colors-blue-100: #f0f9ff; 
    --color-colors-blue-400: #0f4abe; 
    --color-colors-black-white-black: #232323; 
    --color-colors-orange-400: #ee7208; 
    --color-contentred: #ffffff; 
    --color-contentorange: #ffffff; 
    --color-contentgreen: #ffffff; 
    --color-text-text-primary: #484ea2; 
    --color-text-text-secondary: #df0c8d; 
    --color-text-text-tertiary: #03a8ea; 
    --color-text-text-succes: #21d05d; 
    --color-text-text-danger: #dc362e; 
    --color-text-text-warning: #fd9726; 
    --color-text-text-info: #1677ff; 
    --color-text-text-disabled: #a3a3a3; 
    --color-text-text-white: #ffffff; 
    --color-text-text-black: #232323; 
    --color-button-primary-button-filled-enable: #484ea2; 
    --color-button-primary-button-filled-active: #42458b; 
    --color-button-primary-button-filled-hover: #3d428c; 
    --color-button-secondary-button-filled-enable: #df0c8d; 
    --color-button-secondary-button-filled-active: #c60d7e; 
    --color-button-secondary-button-filled-hover: #a50c69; 
    --color-button-tertiary-button-filled-enable: #03a8ea; 
    --color-button-tertiary-button-filled-active: #008cd1; 
    --color-button-tertiary-button-filled-hover: #006fa9; 
    --color-button-disabled-button-filled-disabled: #d1d1d6; 
    --color-icon-icon-primary: #484ea2; 
    --color-icon-icon-secondary: #df0c8d; 
    --color-icon-icon-tertiary: #03a8ea; 
    --color-icon-icon-succes: #21d05d; 
    --color-icon-icon-danger: #dc362e; 
    --color-icon-icon-warning: #fd9726; 
    --color-icon-icon-info: #1677ff; 
    --color-icon-icon-disabled: #a3a3a3; 
    --color-icon-icon-white: #ffffff; 
    --color-icon-icon-black: #232323; 
    --color-border-primary-primary: #484ea2; 
    --color-border-secondary-secondary: #df0c8d; 
    --color-border-tertiary-tertiary: #03a8ea; 
    --color-border-disabled-disabled: #d1d1d6; 
    --color-border-warning-warning: #fd9726; 
    --color-border-success-success: #21d05d; 
    --color-border-danger-danger: #dc362e; 
    --color-border-info-info: #1677ff; 
    --color-border-neutral-neutral: #a3a3a3; 
    --color-surface-surface-primary: #e0e1ef; 
    --color-surface-surface-secondary: #ffecf8; 
    --color-surface-surface-tertiary: #ccedfa; 
    --color-surface-surface-succes: #e9ffe5; 
    --color-surface-surface-danger: #ffe9ea; 
    --color-surface-surface-warning: #ffe9ea; 
    --color-surface-surface-info: #e5f4ff; 
    --color-surface-surface-neutral: #f2f5f7; 
    --color-surface-surface-disabled: #d1d1d6; 
    --color-core-white: #ffffff; 
    --color-border-extensions-borderred: #dc362e; 
    --color-border-extensions-borderorange: #fd9726; 
    --color-border-extensions-bordergreen: #21d05d; 
    --color-border-extensions-borderblue: #1677ff; 
    --color-border-extensions-borderneutral: #d1d1d6; 
    --color-core-black: #232323; 
    --color-background-extensions-backgroundbluepurple: #e0e1ef; 
    --color-background-extensions-backgroundfuchsia: #ffecf8; 
    --color-background-extensions-backgroundskyblue: #ccedfa; 
    --color-background-extensions-backgroundgreen: #f0fdf4; 
    --color-background-extensions-backgroundorange: #fff9ed; 
    --color-background-extensions-backgroundred: #fef2f2; 
    --color-background-extensions-backgroundblue: #f0f9ff; 
    --color-background-extensions-backgroundgrey: #f2f5f7; 
    --color-text-text-red: #dc362e; 
    --color-text-text-grey-600: #5a5c5e; 
    --color-text-text-fuchsia: #df0c8d; 
    --color-text-text-skyblue: #03a8ea; 
    --color-text-text-bluepurple: #484ea2; 
}