
:root {
    --measure-space-spacing-margin-padding-0: 0px;     
    --measure-space-spacing-margin-padding-1: 4px;     
    --measure-space-spacing-margin-padding-2: 8px;     
    --measure-space-spacing-margin-padding-2-5: 10px;     
    --measure-space-spacing-margin-padding-3: 12px;     
    --measure-dimension-spacing-14: 14px;     
    --measure-space-spacing-margin-padding-4: 16px;     
    --measure-space-spacing-margin-padding-5: 20px;     
    --measure-space-spacing-margin-padding-6: 24px;     
    --measure-space-spacing-margin-padding-7: 28px;     
    --measure-space-spacing-margin-padding-8: 32px;     
    --measure-space-spacing-margin-padding-9: 36px;     
    --measure-dimension-border-radius-radius-4: 4px;     
    --measure-dimension-font-size-s: 14px;     
    --measure-space-spacing-margin-padding-px: 1px;     
    --measure-space-spacing-margin-padding-0-5: 2px;     
    --measure-space-spacing-margin-padding-1-5: 6px;     
    --measure-space-spacing-margin-padding-3-5: 14px;     
    --measure-space-spacing-margin-padding-10: 40px;     
    --measure-space-spacing-margin-padding-11: 44px;     
    --measure-space-spacing-margin-padding-12: 48px;     
    --measure-space-spacing-margin-padding-14: 56px;     
    --measure-space-spacing-margin-padding-16: 64px;     
    --measure-border-radius-border-radius-rounded-sm: 2px;     
    --measure-border-radius-border-radius-rounded: 4px;     
    --measure-border-radius-border-radius-rounded-md: 6px;     
    --measure-border-radius-border-radius-rounded-lg: 8px;     
    --measure-border-radius-border-radius-rounded-xl: 12px;     
    --measure-border-radius-border-radius-rounded-2xl: 16px;     
    --measure-border-radius-border-radius-rounded-3xl: 24px;     
    --measure-border-radius-border-radius-rounded-full: 9999px;     
    --measure-line-height-fonts-line-height-16: 16px;     
    --measure-font-size-fonts-font-size-xs: 12px;     
    --measure-line-height-fonts-line-height-20: 20px;     
    --measure-line-height-fonts-line-height-24: 24px;     
    --measure-line-height-fonts-line-height-28: 28px;     
    --measure-line-height-fonts-line-height-32: 32px;     
    --measure-line-height-fonts-line-height-36: 36px;     
    --measure-line-height-fonts-line-height-40: 40px;     
    --measure-font-size-fonts-font-size-sm: 14px;     
    --measure-font-size-fonts-font-size-md: 16px;     
    --measure-font-size-fonts-font-size-lg: 18px;     
    --measure-line-height-fonts-line-height-44: 44px;     
    --measure-font-size-fonts-font-size-xl: 20px;     
    --measure-line-height-fonts-line-height-48: 48px;     
    --measure-line-height-fonts-line-height-52: 52px;     
    --measure-line-height-fonts-line-height-56: 56px;     
    --measure-line-height-fonts-line-height-60: 60px;     
    --measure-line-height-fonts-line-height-64: 64px;     
    --measure-font-size-fonts-font-size-2xl: 24px;     
    --measure-font-size-fonts-font-size-3xl: 30px;     
    --measure-font-size-fonts-font-size-4xl: 36px;     
    --measure-font-size-fonts-font-size-5xl: 48px;     
    --measure-font-size-fonts-font-size-6xl: 60px;     
    --measure-font-size-fonts-font-size-7xl: 72px;     
    --measure-font-size-fonts-font-size-8xl: 96px;     
    --measure-dimension-border-radius-radius-8: 8px;     
    --measure-dimension-border-radius-radius-12: 12px;     
    --measure-dimension-border-radius-radius-16: 16px;     
    --measure-dimension-border-radius-radius-20: 20px;     
    --measure-dimension-font-size-xxxs: 8px;     
    --measure-dimension-font-size-xxs: 10px;     
    --measure-dimension-font-size-xs: 12px;     
    --measure-dimension-font-size-m: 16px;     
    --measure-dimension-font-size-l: 20px;     
    --measure-dimension-font-size-xl: 24px;     
}